@font-face {
    font-family: FiraCode;
    src: url(../FiraCode-VariableFont_wght.ttf)
    
}
body {
    background: #333333;
}
h1{
    padding-top: 500px;
    padding-bottom: 500px;
    text-align: center ;
    font-family: FiraCode;
    color: #333333;
    font-size: 40pt;;
    background-size: cover;
    background-image:url(Towerr/final.png);
}
.break
{
padding-top: 100px;
}

.code-pro
{
    text-align:right;
    font-family:FiraCode;
    padding-right:20%;
    color: #d1d1d1;
    float:right;
    width:50%
}
h2{
    font-family:FiraCode;
    color: #d1d1d1;
}
.cgi-pro
{
    text-align:left;
    font-family:FiraCode;
    padding-left:20%;
    color: #d1d1d1;
    float:left;
    width:10%
}
.cg-block
{
    width: 50%;
    height:500px;
    background-color:#333;
    float: left;
}
.code-block
{
    width: 50%;
    height:500px;
    background-color:#666666;
    float: left;
}
.code-block1
{
    width: 50%;
    height:500px;
    background-color:#3a3a3a;
    float: left;
}
img 
{
    height:100%;
    width:auto;
    position:relative;
    display: block;
margin-left: auto;
margin-right: auto;
}
h3{
    font-family:FiraCode;
    color: #d1d1d1;
}
h4{
    font-family:FiraCode;
    color: #d1d1d1;
}