@font-face {
    font-family: FiraCode;
    src: url(../FiraCode-VariableFont_wght.ttf)
}

body {
    background-color: #333333;
}

a {
    color: #ebebeb;
    font-family: Firacode;
}

h1 {
    font-family: FiraCode;
    color: #ebebeb;
    display: inline;
    font-size: 40pt;
}

img {
    max-width: 100%;
    height: auto;
}

.img1 {
    float: left;
    width: 40%;
    height: auto;
}

.img2 {
    float: right;
    width: 60%;
    height: auto;
}

.title {
    position: relative;
    vertical-align: -100px;
    display: inline;
}

.img3
{
    background-color: aqua;
    float: right;
    width: 50%;
}
