@font-face {
    font-family: FiraCode;
    src: url(otherthings/FiraCode-VF.ttf)
}

body {
    background-color: #333333;
}

a {
    color: #ebebeb;
}

h1 {
    font-family: FiraCode;
    color: #EEEEEE;
    text-align: center;
    font-size: 30pt;
}

h2 {
    font-family: FiraCode;
    color: #ebebeb;
    text-align: center;
    font-size: 20pt;
}

.container div {
    font-family: FiraCode;
    padding: 1%;
    box-sizing: border-box;
    min-height: 500px;
}

.left-col, .right-col {
    text-align: center;
    width: 33.33%;
    float: left;
}

.center-col {
    text-align: center;
    width: 33.33%;
    float: left;
}

p {
    text-align: left;
}

.left-button {
    width: 25%;
    float: left;
    position: relative;
    left: 9%;
}

.container2 {
    position: relative;
    width: 25%;
    float: left;
    left: 9%;
}

.text-block {
    position: absolute;
    bottom: 70%;
    right:  50px;
    background-color: rgba(0, 0, 0, 0.062);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}