@font-face {
    font-family: FiraCode;
    src: url(FiraCode-VariableFont_wght.ttf)
}
body
{
    background-color:#333333;
}
h1{
    padding-top: 100px;
    text-align: center;
    color:#ebebeb;
    font-family: FiraCode;
    padding-bottom: 100px;
}
hr
{
    color:#FFFFFF;
}
p
{
    text-align: center;
    color:#ebebeb;
    font-family: FiraCode;
}