<head>

    <meta charset="UTF-8">

    <title>Yohwllo</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<style>
    body {
        background-color: #161616;
    }

    .wrapper {
        margin: 0 auto;
        width: 770px;
    }

    h1{
    color:#EEE;
    }
    
    h3{
    color:#EEE;
    }
    
    <%= locals.bannerCSS %>
</style>

<body>
    <div class="wrapper">
        <%- locals.bannerCode %>
        <h1> My Blog </h1>
        <h3> Here you'll find my blog, where I write about random things </h3>
    </div>
</body>
