<style>
      .banner_bloc {
        display: inline-block;
        height: 112px;
        width: 770px;
        position:relative;
    }
    .header_one {
        background-color: #FFFFFF;
        position: fixed;
        width: 750px;
        height: 100px;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-right: 10px;
        z-index: 50;

    }

    .header_two {
        background-color: #FFFFFF;
        position: fixed;
        width: 750px;
        height: 100px;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 10px;
        z-index: 50;
    }

    .header_three {
        background-color: #161616;
        position: fixed;
        width: 740px;
        height: 90px;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 5px;
        z-index: 50;
    }

    .text_title {
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        color: #FFFFFF;
        font-size: 25px;
    }

    .left_top_title {
        color: #FFFFFF;
        position: relative;
        left: 5px;
        top: -53px;

    }

    .left_bot_title {
        color: #FFFFFF;
        position: relative;
        left: 5px;
        top: -70px;
        font-size: 10px;
    }

    .pfp_icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
        line-height: 0%;
        position: relative;
        top: -114px;
        left: 660px;
    }

    .contact_info_banner {
        color: #FFFFFF;
        position: relative;
        top: -150px;
        width: 740px;
        text-align: center;
    }


    .left_side {
        width: 49%;
        float: left;
        z-index:-1;
    }



    .right_side {
        width: 49%;
        float: right;
        z-index:-1;
    }


    .left_header_one {
        background-color: #FFFFFF;
        position: relative;
        width: 95%;
        height: 300px;
        top: 0px;
        left: 50%;
        float:left;
        transform: translate(-50%, 0);
        margin-right: 10px;
    }

    .left_header_two {
        background-color: #A2A2A2;
        position: relative;
        width: 95%;
        height: 300px;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 10px;
    }

    .left_inside {

        position:relative;
        width:350px;
        height:290px;
        top:10px;
        margin-left: 18px;
        transform: translate(0, -318px);
    }

    .left_pfp_icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
        line-height: 0%;
        position: relative;
        top: -0px;
        left: 0px;
    }

</style>
