    body {
        height: 5000px;
        background-color: #161616;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .wrapper {
        margin: 0 auto;
        width: 770px;
    }

